html {
  background-color: #f2f2f2;
  font-family: 'Roboto', sans-serif;
  
  body {
    padding: 0;
    margin: 0;

    ::-moz-selection { /* Code for Firefox */
      background-color: #525252;
      color: #f2f2f2;
    }
    
    ::selection {
      background-color: #525252;
      color: #f2f2f2;
    }
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 70px;

    & a img {
      width: 100%;
      height: auto;
      max-width: 300px;
    }

    nav {
      display: none;
    }

    nav ul {
      display: flex;

      li {
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }

        a {
          display: inline-block;
          color: white;
          font-size: 1rem;
          letter-spacing: 3px;
          transform: scale(1);
          transition: all ease-in-out 200ms;
          padding: 3px 10px;
          border-radius: 3px;

          &:hover,
          &:focus {
            color: black;
            background: white;
            transform: scale(1.1);
            
          }
        }
      }
    }
  }

  .intro-text {
    font-size: 2rem;
    font-style: italic;
    max-width: 70%;
    margin: 50px auto;
    color: #525252;
    letter-spacing: 2px;
    text-align: center;
  }

  .page-content {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 70px;
  }

  .search-bar-inner {
    width: 60%;
    margin: 0 auto;
  }

  .search-field-wrapper {
    text-align: center;
  }

  form .input-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    & > * {
      transition: all 200ms ease-in-out;
    }

    input {
      flex: 1 1 auto;
      border: 2.5px solid  #525252;
      height: 20px;
      display: flex;
      align-content: center;
      padding: 10px;
      font-size: 1.25rem;
      background-color: #f2f2f2;
      color: #525252;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      border-right: none;

      &:focus,
      &:hover {
        background-color: #fbffbd;
      }
    }

    button {
      flex: 0 0 auto;
      background-color: #525252;
      color: #f2f2f2;
      border: none;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      cursor: pointer;
      padding: 0 30px;
      font-size: 1.25rem;

      &:focus,
      &:hover {
        background-color: #303030;
      }
    }
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  a {
    text-decoration: none;
  }

  .fetch-data-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0;
    padding: 0;
  }

  .fetch-data-item {
    flex: 0 0 calc(25% - 20px);
    margin-bottom: 30px;

    &:nth-child(4n) {
      margin-right: 0;
    }

    article img {
      width: 100%;
    }

    article a {
      display: flex;
      justify-content: center;
      padding: 5px;
      background: rgb(41, 41, 41);
      color: white;
      text-decoration: underline;
      margin: 15px auto 0 auto;
      cursor: pointer;
    }
  }

  .movie-details {
    button {
      margin-top: 30px;
      border: none;
      color: white;
      background-color: rgb(41, 41, 41);
      padding: 5px 10px;
      font-size: 1.25rem;
      cursor: pointer;
    }

    article {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      & div:first-child {
        margin-right: 50px;
      }
    }
  }

  .pagination-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    li {
      margin: 10px;
      font-size: 1.25rem;
      cursor: pointer;

      &:hover,
      &:focus-visible {
        a {
          text-decoration: underline;
        }
      }

      &.active {
        color: white;
        background: black;
        padding: 3px 5px;
      }
    }
  }

  .footer__inner {
    padding: 50px 70px;
    margin: 80px 0 0 0;
    display: flex;
    justify-content: flex-start;
    background: black;

    li {
      margin-right: 20px;

      a {
        color: white;
      }
    }
  }
}



@media only screen and (max-width: 1024px) {
  html {
    .navigation,
    .page-content,
    .footer__inner {
      padding: 0px 50px;
    }

    .intro-text {
      max-width: 80%;
    }

    .fetch-data-item {
      flex-basis: calc(33% - 20px);

      &:nth-child(4n) {
        margin-right: 20px;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  html {
    .navigation,
    .page-content,
    .footer__inner {
      padding: 0px 20px;
    }

    .navigation {
      justify-content: center;
    }

    .intro-text {
      max-width: 90%;
    }

    .search-bar-inner {
      width: 80%;
    }

    .fetch-data-item {
      flex-basis: calc(50% - 15px);
    }
  }
}

@media only screen and (max-width: 480px) {
  html {
    form .input-wrapper {
      flex-direction: column;

      input {
        border: 1px solid  #525252;
        border-radius: 2px;
        margin-bottom: 5px;
      }

      button {
        border-radius: 2px;
        height: 40px;
      }
    }

    .fetch-data-item {
      flex-basis: 100%;
    }
  } 
}