html {
  background-color: #f2f2f2;
  font-family: 'Roboto', sans-serif;
  
  body {
    padding: 0;
    margin: 0;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    background: black;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 70px;

    nav ul {
      display: flex;

      li {
        margin-right: 20px;

        a {
        color: white;

        }
      }
    }
  }

  .main-logo-text {
    display: inline-block;
    padding: 7px 0px;
    color: white;
    background-color: black;
    cursor: pointer;
    font-size: 35px;
  }

  .page-content {
    
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 70px;
  }

  form .input-wrapper input {
    border: none;
    width: 300px;
    height: 30px;
    display: flex;
    align-content: center;
    padding: 10px;
    font-size: 25px;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  a {
    text-decoration: none;
  }

  .fetch-data-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 0;
    padding: 0;
  }

  .fetch-data-item {
    flex: 0 0 calc(25% - 20px);
    margin-bottom: 30px;
    margin-right: 20px;

    article img {
      width: 100%;
    }

    article a {
      display: flex;
      justify-content: center;
      padding: 5px;
      background: rgb(41, 41, 41);
      color: white;
      text-decoration: underline;
      margin: 15px auto 0 auto;
      cursor: pointer;
    }
  }

  .pagination-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    li {
      margin: 10px;
      font-size: 20px;
      cursor: pointer;

      &:hover,
      &:focus-visible {
        a {
          text-decoration: underline;
        }
      }

      &.active {
        color: white;
        background: black;
        padding: 3px 5px;
      }
    }
  }

  .movie-details {
    button {
      margin-top: 30px;
      border: none;
      color: white;
      background-color: rgb(41, 41, 41);
      padding: 5px 10px;
      font-size: 20px;
      cursor: pointer;
    }

    article {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      & div:first-child {
        margin-right: 50px;
      }
    }
  }

  .footer__inner {
    padding: 50px 70px;
    margin: 80px 0 0 0;
    display: flex;
    justify-content: flex-start;
    background: black;

    li {
      margin-right: 20px;

      a {
        color: white;
      }
    }
  }
}